*{
    margin: 0;
    padding: o;
    font-family: 'Roboto', sans-serif;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: rgb(2, 2, 77);
    color:azure;

}

.nav-menu{
    display: flex;
    gap: 600px;
    margin: 10px 20px;
    padding: 20px 80px;
    border-bottom: 5px inset
    rgba(142, 147, 212, 0.2);
    align-items: center;

    
}

.nav-menu-item{

}

.nav{
  display: flex;
  gap: 40px;
  
  
}

.item-nav a{
  font-size: 20px;
  color: azure;
}

.item-nav a:hover{
  color: blue;
  
}

  ul {
    list-style-type: none;
    
    
  }
  ul img {
    
    text-decoration: none;
  }

  ul li a{
    text-decoration: none;
  }

  .header-main{
    display: flex;
    gap: 100px;
    padding: 100px 100px 20px 100px;
  }

  .header-para p{
    font-size: 19px;
  }
  .header-para h1{
    font-size: 2.7em;
  }

  .header-para button{
    margin-top: 20px;
    padding: 20px 80px;
    font-size: 1.8em;
    background-color: rgba(0, 0, 0, 0.1);
    color: azure;
    border: 2px white solid;
    border-radius: 10px;
  }
  .header-para button:hover{
    background-color: rgb(78, 78, 228);
  }

  .header-image img{

    border-radius: 10px;
  }

  .expertise-sect h3{
    text-align: center;
    margin-top: 60px;
    font-size: 1.5em;
  }

  .expertise-container{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    gap: 90px;
    
  }

  .expertise-divflex{
  
  }

  .expertise-divflex div img{
    border-radius: 10px;
    border: 4px rgb(2, 2, 77) inset;
  }

  .expertext{
    margin-top: 5px;
    text-align: justify;
  }

  .quote{
    background-color: rgb(209, 213, 218);
    padding: 150px 100px;
  }

  quote, quote+p{
    font-size: 2em;
  }

  quote+p{
    text-align: right;
    font-weight: 900; 
  }

  .cta-section{
    margin: 150px 120px;
  }
  .cta-container{
    background-color: rgb(9, 135, 238);
    display: flex;
    justify-content: space-around;
    
    padding: 60px 50px;
    margin-left: auto;
    margin-right: auto;
    color: azure;
    border-radius: 10px;
    font-size: 1.3em;

  }
  .cta-div button{
    align-self: flex-start;
    color: azure;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px azure solid;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 10px 20px;
  }
  .cta-div button:hover{
    background-color: rgb(6, 78, 235);
    
  }

  footer{
    background-color: rgb(1, 5, 63);
    width: 1202px;
    padding: 40px ;
    color: azure;
    text-align: center;
    font-size: 1.5em;

  }